html,
body {
  font-family:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f3f4f6;
  color: #222;
  margin: 0 auto;
  padding: 0;
  line-height: 1.6;
  font-size: 16px;
  background-color: rgb(243 244 246);
}

.text-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  padding-top: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #111;
}

h1 {
  font-size: 2rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.2em;
}

h2 {
  font-size: 1.5rem;
  color: #333;
}

p {
  margin: 0.5em 0 1em 0;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: monospace;
  background-color: #f4f4f4;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.header {
  background-color: rgb(243 244 246);
  position: fixed;
  top: 0;
  left: 1rem;
  right: 1rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: rgb(55, 65, 81);
  text-decoration: none;
  font-size: 1.875rem;
}

.header > .help-button {
  color: rgb(31, 41, 55);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > .help-button:hover {
  background-color: rgb(212, 212, 212);
}

.ask-button-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 3rem;
}

.ask-button-container > a {
  background-color: rgb(55, 65, 81);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 400;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .header > .logo {
    font-size: 1.25rem;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #030712;
    color: #eee;
  }

  h1,
  h2 {
    color: #fff;
  }

  a {
    color: #66aaff;
  }

  code {
    background-color: #333;
  }

  .header {
    background-color: #030712;
    .logo {
      color: #eee;
    }
  }

  .header > .help-button {
    color: #eee;
  }
}
